In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\NARASIMHA\Downloads\student_data.csv")
df

      Name  Class Section  RollNo               Gmail  Marks
0     Amit     11       A       1     amit1@gmail.com     90
1   Anjali     12       C       2   anjali2@gmail.com     68
2    Rohit      8       C       3    rohit3@gmail.com     89
3    Sneha      8       C       4    sneha4@gmail.com     87
4    Rahul     12       A       5    rahul5@gmail.com     84
5    Rahul      8       B       6    rahul6@gmail.com     52
6   Anjali     11       A       7   anjali7@gmail.com     51
7     Neha      9       B       8     neha8@gmail.com     62
8    Rahul      8       A       9    rahul9@gmail.com     89
9   Anjali      8       B      10  anjali10@gmail.com     60
10   Rohit     10       B      11   rohit11@gmail.com     92
11  Anjali     10       C      12  anjali12@gmail.com     42
12   Priya     11       A      13   priya13@gmail.com     73
13    Neha      8       B      14    neha14@gmail.com     57
14  Anjali     12       C      15  anjali15@gmail.com     99
15   Vikas     11       A      16   vikas16@gmail.com     63
16   Vikas     10       A      17   vikas17@gmail.com     90
17   Vikas     10       A      18   vikas18@gmail.com     71
18   Rohit     12       A      19   rohit19@gmail.com     50
19   Rahul      9       A      20   rahul20@gmail.com     85

In [2]:
df.max()

Name                   Vikas
Class                     12
Section                    C
RollNo                    20
Gmail      vikas18@gmail.com
Marks                     99
dtype: object

In [3]:
df.min()

Name                  Amit
Class                    8
Section                  A
RollNo                   1
Gmail      amit1@gmail.com
Marks                   42
dtype: object

In [5]:
df["Marks"].mean()

72.7

In [6]:
df["Marks"].mode()

0    89
1    90
Name: Marks, dtype: int64

In [8]:
df["Marks"].median()

72.0

In [9]:
df["Marks"].var()

298.74736842105267

In [10]:
df["Marks"].std()

17.284309891374104

In [11]:
df["Marks"].cov(df["RollNo"])

-11.89473684210526